.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
    display: inline;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 30px;
}
.heading button{
    float: right;
    border: 1px solid white;
}
.big_image{
    width: 100%;
}
#start{
    font-size: 22px;
}
#status{
    font-size: 22px;
}